<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="" method="post">
        
          <h1>Register</h1>
          <table> 
              <tr><td>
                <label ><b> Name</b></label>
              </td>
              <td> <input type="text" name="abc" placeholder=" Name">
              </td></tr>
              <tr><td>
                <label ><b>Street</b></label>
              </td>
              <td> <input type="text" name="str" placeholder="Street">
              </td></tr>
              <tr><td>
                <label ><b>Locality</b></label>
              </td>
              <td> <input type="text" name="local" placeholder="Locality">
              </td></tr>
              <tr><td>
                <label ><b>District</b></label>
              </td>
              <td> 
            <select name="district">
              <option value="Kasargod">Kasargod</option>
              <option value="Kannur">Kannur</option>
              <option value="Kozhikode">Kozhikode</option>
              <option value="Malappuram">Malappuram</option>
              <option value="Wayanad">Wayanadu</option>
              <option value="Thrissur">Trissure</option>
              <option value="Alappuzha">Alappuzha</option>
              <option value="Palakkad">Palakkadu</option>
              <option value="Pathanamthitta">Pathanamathitta</option>
              <option value="Kottayam">Kottayam</option>
              <option value="Kollam">Kollam</option>
              <option value="Idukki">Idukki</option>
              <option value="Eranakulam">Eranakulam</option>
              <option value="Thiruvanathapuram">Thiruvananthapuram</option>
            </select>
              </td></tr>
              <tr><td>
                <label ><b>Phone No</b></label>
              </td>
            <td>
                <input type="text" name="ph" placeholder="Phone Number" >
            </td>
             
              <tr><td>
                <label ><b>Email</b></label>
              </td>
            <td>
                <input type="text" name="eml" placeholder="Email Id" >
            </td>
        </tr>
        </table>
       <button type="submit" class="registerbtn">Register</button>
      </form>
</body>
</html>