{% extends "admin/index.html"%}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="POST">
   <h3> <b>notification</b></h3>

<table width="500" border="03" class="table text-secondary">
  <tr>
{#      <td>#}
{#          Notification#}
{#      </td>#}
      <td>
        <p id="textarea" name="textarea" cols="45" rows="5">
          <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
        </p>
      </td>
  </tr>
  <tr rowspan="2">
      <td colspan="2">
        <p>
          <input type="submit" class="btn btn-outline-primary" name="button" id="button" value="Send" />
        </p>
      </td>
    </tr>
</table>
</form>
</body>
</html>

{% endblock %}
