{% extends "admin/index.html"%}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="03">
  <tr>
    <td>#</td>

{#    <td>user name</td>#}
     <td>Product Name </td>
    <td>Quantity</td>
{#     <td>Date</td>#}
     <td>Amount</td>
      <td>Total Amount</td>
    
  </tr>
   {% for i in res %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;&nbsp;{{ i['product_name'] }}</td>
      <td>&nbsp;&nbsp;{{ i['price'] }}</td>
      <td>&nbsp;&nbsp;{{ i['quantity'] }}</td>
{#      <td>&nbsp;&nbsp;{{ i['date'] }}</td>#}
      <td>&nbsp;<font color="red" ><h3>{{ i['sum'] }} /-</h3></font></td>
{#        <td><a href="/view_products/{{ i['master_id'] }}">View Products</a></td>#}



    </tr>
      {% endfor %}
  
</table>
</form>

</body>
</html>

{% endblock %}
