<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" border="03">


  <tr>
    <td><a href="/seller_view_profile">view seller profile</a></td>
  </tr>
    <tr>
    <td><a href="">view payment</a></td>
  </tr>
     <tr><td><a href="/seller_soil_request">Sent soil test Request</a> </td></tr>
  <tr><td><a href="">view report</a> </td></tr>

    <tr><td><a href="/seller_complaint">sent complaint and view reply</a> </td></tr>
    <tr><td><a href="">Add Product</a> </td></tr>



</table>
</form>
</body>
</html>
