<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table  border="03">
  <tr>
    <td>#</td>
    <td>Product Name</td>
    <td>Quantity</td>
     <td>User Name</td>
    <td>Street</td>
     <td>Locality</td>
     <td>District</td>
     <td>Ph No</td>
     <td>Date</td>
     <td>Time</td>
     <td>status</td>
     <td>payment</td>

  </tr>
   {% for i in res %}

              <tr>
                  <td>{{ loop.index }}</td>
                  <td>&nbsp;&nbsp;{{ i['product_name'] }}</td>
                  <td>&nbsp;&nbsp;{{ i['quntity'] }}</td>
                  <td>&nbsp;&nbsp;{{ i['user_name'] }}</td>
                  <td>{{ i['street'] }}</td>
                  <td>{{ i['locality'] }}</td>
                  <td>&nbsp;&nbsp;{{ i['district'] }}</td>
                  <td>&nbsp;&nbsp;{{ i['ph_no'] }}</td>
                  <td>&nbsp;&nbsp;{{ i['date'] }}</td>
                   <td>&nbsp;&nbsp;{{ i['time'] }}</td>
                    <td>&nbsp;&nbsp;{{ i['statuse'] }}</td>
                   <td>{{ i['payment'] }}</td>
              </tr>

      {% endfor %}
  
</table>
</form>
</body>
</html>
