<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" height="300">
  <tr>
    <td><a href="/add_employee">Add employees</a></td>
  </tr>
  <tr>
    <td><a href="/view_employee">view employees</a></td>
  </tr>
  <tr>
    <td><a href="/view_soil_request">view soil request</a></td>
  </tr>
{#     <tr>#}
{#    <td><a href="/soil_report">view seller soil request</a></td>#}
{#  </tr>#}
     <tr>
    <td><a href="/view_payment_details">view Payment details</a></td>
  </tr>
        <tr>
    <td><a href="/allocated_employees">view allocated employees</a></td>
  </tr>
    <tr>
    <td><a href="/user">view user</a></td>
  </tr>
     <tr>
    <td><a href="/view_complaint_admin">view complaint</a></td>
  </tr>
{#     <tr>#}
{#    <td><a href="/seller_complaint_admin">view seller complaint</a></td>#}
{#  </tr>#}
  <tr>
    <td><a href="/feedback">view feedback</a></td>
  </tr>
  <tr>
    <td><a href="/rating">view rating</a></td><br>
  </tr>
  <tr>
    <td><a href="/notification">Send Notification</a></td><br>
  </tr>
{#  <tr>#}
{#    <td><a href="/booking">view booking</a></td>#}
{#  </tr>#}
  <tr>
    <td><a href="/view_booking_user">View user booking products</a></td>
  </tr><br>
{#    <tr>#}
{#    <td><a href="/view_accepted_seller">View Accepted seller</a></td>#}
{#  </tr>#}

      <tr>
    <td><a href="/product">View Products</a></td>
  </tr>
</table>
</form>
</body>
</html>
