{% extends "admin_side/index.html" %}
{% block body %}
<form method="post" action="">
    <table border="1">
        <tr>
            <td>EMPLOYEE NAME</td>
            <td>
                <select name="select">
                    {% for i in data %}
                      <option value="{{ i['employee_id'] }}">{{ i['name'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" value="ALLOCATE"></td>
    </tr>
    </table>
</form>
{% endblock %}