<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
<p><h3>RS: 200 per job </h3></p>
<form method="post">
    <table border="2">
        <tr>

            <th height="10" colspan="3"><input type="text" size="50px" placeholder="account no" name="abc" /></td><br>

        </tr>
        <tr>
            <th height="40" colspan="3"> <input type="text" size="50px" placeholder="Ifsc" name="efg"/></td><br>

        </tr>
{#        <tr><br>#}
{#            <th scope="col" ><input type="text" size="10px" placeholder="MONTH" name="ijk"></th>#}
{#            <th scope="col" ><input type="text" size="10px" placeholder="YEAR" name="lmn"/></th>#}
{#            <th scope="col" ><input type="text" size="10px" placeholder="CVV" name="hjk"/></th>#}
{#        </tr>#}
  </table>
    <br>
     <input type="submit" >
 </form>
</body>
</html>
