{% extends "user_side/user_index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="500" border="03">
    <tr>
      <td height="51">Name</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Profile</td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
   
    <tr>
      <td>Gender</td>
      <td><p>
          <input type="radio" name="radio" id="radio" value="male" />
        Male</p>
        <p>
          <input type="radio" name="radio" id="radio2" value="female" />
        Female</p>
        <p>
          <input type="radio" name="radio" id="radio3" value="other" />
        Other</p></td>
    </tr>
    <tr>
      <td height="43">Street</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Locality</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td height="40">District</td>
      <td><select name="district">
          <option>---select---</option>
              <option value="Kasargod">Kasargod</option>
              <option value="Kannur">Kannur</option>
              <option value="Kozhikode">Kozhikode</option>
              <option value="Malappuram">Malappuram</option>
              <option value="Wayanad">Wayanadu</option>
              <option value="Thrissur">Trissure</option>
              <option value="Alappuzha">Alappuzha</option>
              <option value="Palakkad">Palakkadu</option>
              <option value="Pathanamthitta">Pathanamathitta</option>
              <option value="Kottayam">Kottayam</option>
              <option value="Kollam">Kollam</option>
              <option value="Idukki">Idukki</option>
              <option value="Eranakulam">Eranakulam</option>
              <option value="Thiruvanathapuram">Thiruvananthapuram</option>
            </select></td>
    </tr>
    <tr>
      <td>Phone No</td>
      <td><input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
      <tr>
      <td>Email</td>
      <td><input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
      <tr>
      <td>Password</td>
      <td><input type="text" name="textfield7" id="textfield7" /></td>
    </tr>
      <tr>
      <td>Confirm Password</td>
      <td><input type="text" name="textfield8" id="textfield8" /></td>
    </tr>
      <tr>
      <th colspan="2"> <input type="submit" name="button" id="button" value="submit" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
