<html>
    <form>
        <table border=3>
            <tr>
                <td><img src=""></td>
            </tr>
            <tr>
                <td>product name</td>
                <td>&nbsp;{{ res['Product_name'] }}</td>
            </tr>
            <tr>
                <td>quantity</td>
                <td>&nbsp;{{ res['Quantity'] }}</td>
            </tr>
            <tr>
                <td>total amount</td>
                <td>&nbsp;{{ res['amount'] }}</td>
            </tr>
{#            <tr>#}
{#                <td>delvery date</td>#}
{#                <td>&nbsp;{{ res['date'] }}</td>#}
{#            </tr>#}
            <tr>
                <td>status</td>
                <td>&nbsp;{{ res['status'] }}</td>
            </tr>
        </table>
    </form>
</html>