<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="500" border="03">
    <tr>
      <td height="51">Name</td>
      <td><input type="text" name="abc" id="textfield2" value="{{ res['user_name']}}" /></td>
    </tr>
    <tr>
      <td height="43">Street</td>
      <td><input type="text" name="def" id="textfield3" value="{{ res['street']}}" /></td>
    </tr>
    <tr>
        <td>Locality </td>
      <td><input type="text" name="jkl" id="textfield4" value="{{ res['locality']}}" /></td>
    </tr>
      <tr>
      <td>Ph No</td>
      <td><input type="text" name="mno" id="textfield4" value="{{ res['phone_number']}}"/></td>
    </tr>
    <tr align="center">

    <td colspan="2"><input type="submit" name="button" id="button" value="Sent Request" /></td>
  </tr>
  </table>
</form>
</body>
</html>
