<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

   <form  >
    <table border="03">
        <tr><img src=""> </tr>
      <tr><td>
        <label ><b>user Name</b></label>
        </td>
        <td>{{ res['user_name'] }} </td></tr>
      <tr><td>
        <label ><b>Street</b></label>
        </td>
        <td>{{ res['street'] }}
        </td></tr>
      <tr><td>
        <label ><b>Locality</b></label>
        </td>
        <td>{{ res['locality'] }}
        </td></tr>
      <tr><td>
        <label ><b>District</b></label>
        </td>
        <td>{{ res['district'] }}

        </td></tr>
      <tr><td>
        <label ><b>Phone No</b></label>
        </td>
        <td>{{ res['phone_number'] }}

        </td>



      <tr>
        <td colspan="2"><blockquote>
          <blockquote>
            <blockquote>
              <p>
                <a href="/user_update/{{ res['user_id'] }}">change details</a>
              </p>
            </blockquote>
          </blockquote>
        </blockquote></td>
    </table>
  </form>
</blockquote>
</body>
</html>
