<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get"><table width="200" border="03">


  <tr>
    <td><a href="/user_view_profile">view user profile</a></td>
  </tr>
  <tr>
    <td><a href="/cart">cart </a></td>
  </tr>
    <tr>
    <td><a href="/user_feedback">sent feedback</a></td>
  </tr>
  <tr><td><a href="/soil_request">sent soil request</a> </td></tr>
  <tr>
    <td><a href="/view_booking"> view booking</a></td>
  </tr>
  <tr>
    <td><a href="">view product</a></td>
  </tr>
  <tr>
    <td><a href="/view_soil_booking">view soil report</a></td>
  </tr>
  <tr>
    <td><a href="">sent complaint</a></td>
  </tr>

</table>
</form>
</body>
</html>
