<html>
    <form>
        <table border=3>
            <tr>
                <td><img src=""></td>
            </tr>
            <tr>
                <td>product name</td>
                <td>&nbsp;{{ res['product_name'] }}</td>
            </tr>
            <tr>
                <td>quantity</td>
                <td>&nbsp;{{ res['quantity'] }}</td>
            </tr>
            <tr>
                <td>total amount</td>
                <td>&nbsp;{{ res['payment'] }}</td>
            </tr>
            <tr>
                <td>delvery date</td>
                <td>&nbsp;{{ res['date'] }}</td>
            </tr>
            <tr>
                <td>status</td>
                <td>&nbsp;{{ res['statuse'] }}</td>
            </tr>
        </table>
    </form>
</html>