<html>
    <form>
        <table border=3>
            <tr>
                <td><img src=""></td>
            </tr>
            <tr>
                <td>product name</td>
                <td></td>
            </tr>
            <tr>
                <td>quantity</td>
                <td></td>
            </tr>
            <tr>
                <td>total amount</td>
                <td></td>
            </tr>
            <tr>
                <td>delvery date</td>
                <td></td>
            </tr>
            <tr>
                <td>status</td>
                <td></td>
            </tr>
        </table>
    </form>
</html>